@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

canvas {
    border: 1px dotted #979797 !important;
    background-color: #3c3c3c !important;
  }
#SideMenu_MainContainer {
  max-width: 100% !important;
  padding: 0% !important;
  margin-top: 1vh !important;
}
#btn_Expenses {
  width: 100% !important;
}

#btn_NET {width: 100% !important;}
#btn_catExp { width: 100% !important;}

a#Charts-tab:hover {
  background-color: black !important;
  color: white !important;
  border-color: black !important;
  border-width: thin !important;
}

a#Charts-tab.active {
  background-color: black !important;
  border-color: black !important;
  color: white !important;
  border-width: thin !important;
}
a#Charts-tab {
  color: black !important;
  border-color: black !important;
  border-width: thin !important;
  background-color: white !important;
}
a#Datasheet-tab {
  color: black !important;
  border-color: black !important;
  border-width: thin !important;
  background-color: white !important
}
a#Datasheet-tab.active {
  background-color: black !important;
  border-color: black !important;
  color: white !important;
  border-width: thin !important;
}
a#Datasheet-tab:hover {
  background-color: black !important;
  color: white !important;
  border-color: black !important;
  border-width: thin !important;
}

