@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

:root {
  --text-color: #000;
  --background--color: #fff;
  
}

@media (prefers-color-scheme: light) {

  div#BudgetPlanner_App {
    background-color: #ebebeb;
    padding: 1rem !important;
  }

}
@media (prefers-color-scheme: dark) {

div#BudgetPlanner_App {
  background-color: #333;
  padding: 1rem !important;
}

.bg-dark {
  background-color: #000 !important;
}

div#appSubNAV > * {
  background-color: #212121 !important;
  margin-bottom: 2rem !important;
}


canvas {
    border: 1rem solid #333 !important;
    background-color: #333 !important;
  }

  
#SideMenu_MainContainer {
  max-width: 100% !important;
  padding: 0% !important;
  margin-top: 1vh !important;
  background-color: #212121 !important;
}
#btn_Expenses {
  width: 100% !important;
}

#btn_NET {width: 100% !important;}
#btn_catExp { width: 100% !important;}

a#Charts-tab:hover {
  background-color: black !important;
  color: white !important;
  border-color: black !important;
  border-width: thin !important;
}

a#Charts-tab.active {
  background-color: black !important;
  border-color: black !important;
  color: white !important;
  border-width: thin !important;
}
a#Charts-tab {
  color: black !important;
  border-color: black !important;
  border-width: thin !important;
  background-color: white !important;
}
a#Datasheet-tab {
  color: black !important;
  border-color: black !important;
  border-width: thin !important;
  background-color: white !important
}
a#Datasheet-tab.active {
  background-color: black !important;
  border-color: black !important;
  color: white !important;
  border-width: thin !important;
}
a#Datasheet-tab:hover {
  background-color: black !important;
  color: white !important;
  border-color: black !important;
  border-width: thin !important;
}
button:focus {
  color: black !important;
}

// Datasheet Table Props
thead > * {
color: white !important;
background-color: #212121 !important;
}
tr.even > * {
  color: white !important;
}

tr.odd > * {
  color: white !important;
  background-color: #212121 !important;
}
}