canvas {
    border: 1px dotted black;
  }
#SideMenu_MainContainer {
  max-width: 100% !important;
  padding: 0% !important;
  margin-top: 1vh !important;
}
#btn_Expenses {
  width: 100% !important;
}

#btn_NET {width: 100% !important;}
#btn_catExp { width: 100% !important;}